body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif ;
    width: 16%;
    border-radius: 30%;
}

ul{
    margin: 0px;
}

body > header {
    background-color: pink;
    color: bisque;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}

#nav-ul{
    display: flex;
}

#nav-ul>li{
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none; 
    padding: 12px;
    border: 1px; solidwhite;
    border-radius: 10%;
 

}

body > main > article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content >div {
width: 70%;
}

#main-content aside {
    width: 20%;
}
form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer {
    background-color:black; 
    display: flex;
}
 
img{
    border-radius: 50%;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;

    
}

#footer-ul > div > li > a{
    text-decoration: none;
    color:black
    

}